
.column {
    position: absolute;
    top: 22%;
    bottom: 0;
    overflow-y: auto;
}    
.left {

    left: 15%;
    width: 20%;
}
.center {

    left:36%;
    width:20%; /* = width + 2 * padding of right column */
}
.right {
	
    left: 57%;
    width: 20%;
}

.rightest {
	
    right: 2%;
    width: 20%;
}