
.column {
    position: absolute;
    top: 22%;
    bottom: 0;
    overflow-y: auto;
}    
.left {

    left: 15%;
    width: 27%;
}
.center {

    left:44%;
    width:27%; /* = width + 2 * padding of right column */
}
.right {
	
    right: 1%;
    width: 27%;
}