<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login-LIS QSG</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="/css/bootstrap.css" rel="stylesheet" />

    <!-- CUSTOM STYLE  -->
	  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700'>
      <link rel="stylesheet" href="css/styleflip.css">
    <link href="/css/style.css" rel="stylesheet" />
<link href="/css/layout.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body style="height:100%; width:100%; overflow:hidden;">
<section class="menu-section">
  <header class="l-header">
    <div class="l-header__inner clearfix">


      <div class="section-to-print" style="margin-top:0px; margin-left:0px">
          <a class="navbar-brand no-print" href="http://www.lisnepal.com.np/">
      <img src="/img/logo_LIS1.gif" style= "margin-top: -20px; "/>
  </a>
  #if($show==1)
  <a href="/register">Add Admin</a>
  #end
  </div>

  <div id="menu-top" class="header-icons-group" style="margin:0px">

    <div class="c-header-icon logout"><a href="/login"><i class="fa fa-sign-in"></i></a></div>
  </div>
      </div>
    </div>
  </header>

    </section>
	<h1 style="text-align:center; color:white"> Question Set Generator</h1>

  <div class="wrapper">


         #parse( $template )
      </div>


    <script  src="js/index.js"></script>
<script src="/js/layout.js"></script>


</body>

</html>
