<h1>$user.getName() </h1>

<p>Role = $user.getRoleTitle()</p>

<p>Username = $user.getUsername() </p>

<p>Email = $user.getEmail()</p>


<script type="text/javascript">
window.onload = function() {
  document.getElementById('users').className = 'active';
};
</script>